
body {
  margin: 30px 20px;
  background: #8D74E3;
  font-family: sans-serif;
}

.photos {
	min-width: 76vw;
	margin-left: 5vw;
	margin-right: 6vw;
	
}

.photo {
	height: 140px;
	position: relative;	
 	background-color: #0F166F;
 	border: 3px solid #DDF;
 	margin-bottom: 40px;
 	
}

img {

	display: inline-block;
	position: relative;
	float:left;
	}

.info{
	padding-left: 27vw;
}

.title{
	
	position: relative;
	font-weight: bold;
	font-size: 2em;
	color: #A07500;	
	}

.author{ 	
	
	position: relative;
	color:#5AA;
	
}